<div style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <a class="btn-outline-secondary btn" asp-controller="Home" asp-action="GoToSmartphone">
        Compare smartphones
    </a>
</div>